{{ define "main" }}

<a class="td-offset-anchor"></a>
<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<span class="h4 mb-0">
<h1>Inscrições fechadas!</h1>

<p>A próxima turma do curso está prevista para o segundo semestre de 2021! Quando as inscrições forem abertas, poderão ser feitas seguindo as instruções abaixo para preenchimento do formulário e pagamento via GRU! Esperamos por você!
</span>
	</div>
</section>
{{ partial "inscricoes_links.html" . }}

<div class="td-content">
{{ .Content }}
</div>

{{ end }}
