+++
title = "DNA"
linkTitle = "Home"

+++

{{< blocks/cover title="Bem-vindo ao site do curso de Sequências de DNA na identificação de espécies e análise filogenética! Nova turma prevista para o segundo semestre de 2021!" image_anchor="top" height="full" color="black" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/sobre" >}}">
		Saiba mais! <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/inscricoes" >}}">
		Faça sua inscrição! <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Explorando sequências de DNA para análises filogenéticas e identificação de espécies em diversas abordagens!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
O curso de Sequências de DNA na Identificação de Espécies e Análise Filogenética é promovido e ofertado pelo Programa de Pós-Graduação em Genética e pelo Laboratório de Bioprospecção e Genética Molecular de Microrganismos, ambos localizados no Departamento de Genética da Universidade Federal do Paraná (UFPR, Curitiba, Brasil). 
<p>
Nosso principal objetivo é fornecer à você os conhecimentos e ferramentas necessárias para uma análise filogenética bem sucedida, e confiabilidade para a identificação de espécies nos mais diversos contextos!
{{% /blocks/lead %}}

{{< blocks/section color="light" type="features">}}
{{% blocks/feature icon="fa-dna" title="Análise de sequências de DNA!" url="/sobre" %}}
Vamos explorar as diferentes metodologias e softwares disponíveis para obtenção, edição e análise de sequências de DNA!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-laptop-code" title="Análise filogenética!" url="/sobre" %}}
Da produção de alinhamentos à obtenção de árvores, vamos abordar todas as etapas para a realização de uma análise filogenética de qualidade!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-compress-arrows-alt" title="Identificação de espécies!" url="/sobre" %}}
Aliando análises filogenéticas com sequências de DNA confiáveis, vamos explorar todos os aspectos e critérios necessários para o sucesso na identificação de espécies!
{{% /blocks/feature %}}


{{< /blocks/section >}}

